body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #2c3e50;
}

h2 {
    color: #16a085;
}

p {
    color: #34495e;
}
